<h1>Router</h1>
<h2>old html nav</h2>
<nav>
  <ul>
    <li><a href="/homepage">home</a></li>
    <li><a href="/contact">contatc</a></li>
    <li><a href="/abouts">about</a></li>
  </ul>
</nav>
<h2>angular nav</h2>
<nav>
  <ul>
    <li><a routerLink="/homepage">home</a></li>
    <li><a routerLink="/contact">contatc</a></li>
    <li><a routerLink="/abouts">about</a></li>
  </ul>
</nav>

<router-outlet></router-outlet>

<iframe
  width="560"
  height="315"
  src="https://www.youtube.com/embed/F4vLdERIN08"
  title="YouTube video player"
  frameborder="0"
  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
  allowfullscreen
></iframe>
